@charset "utf-8" 
@font-face {
  font-family: "ambleregular";
  src: url("fonts/Amble-Regular-webfont.eot");
  src: url("fonts/Amble-Regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("fonts/Amble-Regular-webfont.woff2") format("woff2"),
    url("fonts/Amble-Regular-webfont.woff") format("woff"),
    url("fonts/Amble-Regular-webfont.ttf") format("truetype"),
    url("fonts/Amble-Regular-webfont.svg#ambleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
p {
  font-family: ambleregular;
}
#pagetitle {
  font-family: ambleregular;
}
a:link {
  text-decoration: underline dotted;
}
a:visited {
  color: grey;
}
a:hover {
  color: red;
  text-decoration: none;
}
a:active {
  color: blue;
}
